<div class="uk-card-media-top">
    <a href="/singleRecipe/{{id}}">
        <img src="{{imageUrl}}" class="food-img" alt="" uk-tooltip="Go to {{title}}" />
    </a>
</div>
<div class="uk-card-body uk-text-left">
    <h3 class="uk-card-title uk-margin-remove food-title">{{title}}</h3>
    <p class="uk-margin-remove-top food-description">{{description}}</p>
    <a href="/singleRecipe/{{id}}" uk-icon="chevron-double-right">Learn more</a>
</div>

