<div class="uk-child-width-expand@s" uk-grid>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <h4 class="uk-margin-remove-bottom">Recipe Title</h4>
          <div class="uk-margin">
        <input class="uk-input" id="recipe-title" type="text" placeholder="" value="{{recipe.title}}"></input>
      </div>
      <!-- Description -->
      <h5 class="uk-margin-remove-bottom">Description</h5>
      <div class="uk-margin">
        <input class="uk-input" id="description" type="text" placeholder="" value="{{recipe.description}}">
      </div>

      <!-- Meal Type Drop Down -->
      <div class="uk-margin">
        <h5 class="uk-margin-remove-bottom">Category</h5>
        <div class="uk-form-controls">
          <select class="uk-select" id="form-stacked-select">
            <option>{{recipe.category}}</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Appetizer">Appetizers</option>
          </select>
        </div>
      </div>

      <!-- Ingredients -->
      <h5 class="uk-margin-remove-bottom">Ingredients</h5>
      <div class="uk-margin">
        <textarea
          name="ingredients"
          id="ingredients"
          class="uk-textarea"
          rows="5"
          placeholder=""          
        >{{recipe.ingredients}}</textarea>
      </div>
      <!-- Instructions -->
      <h5 class="uk-margin-remove-bottom">Instructions</h5>
      <div class="uk-margin">
        <textarea
          id="instructions"
          class="uk-textarea"
          rows="5"
          placeholder=""          
        >{{recipe.instructions}}</textarea>
      </div>

      <!-- Image link -->
      <h5 class="uk-margin-remove-bottom">Image Link</h5>
      <div class="uk-margin">
        <input
          type="text"
          id="image_link"
          class="form-control uk-input"
          placeholder="A url to your image"
          value="{{recipe.imageUrl}}"
        />
      </div>
            
      <!-- Submit Button -->
      <div class="uk-margin uk-flex uk-flex-center uk-padding-small">
        <div class="uk-margin-large">
        <button
          id="submit-btn"
          class="uk-button uk-button-primary"
          type="submit"
        >Submit</button>
     
          <button
          id="cancel-btn"
          class="uk-button uk-button-default"
          type="cancel"
        >Cancel</button>
        </div>
      </div>  

    </div>
  </div>

  <div>
    <div class="uk-card uk-card-default uk-card-body uk-padding-remove">
      <img src="{{recipe.imageUrl}}" height="" width="100%" />
    </div>
  </div>
</div>
<script src="/javascript/edit-recipe.js"></script>