<div>
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="uk-disabled"><a href="#">{{recipe.category}}</a></li>
        <li class="uk-disabled"><a href="#">{{recipe.title}}</a></li>
    </ul>
</div>

<div class="uk-child-width-expand@s" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h4 class="uk-margin-remove-bottom">Recipe for: </h4>
            <h3 class="uk-heading-small uk-margin-remove-top">{{recipe.title}}</h3>
            <hr>
            <!-- Description -->
            <h5 class="uk-margin-remove-bottom">Description:</h5>
            <div class="uk-margin-remove-top">
                <p>{{recipe.description}}</p>
            </div>
            <!-- Ingredients -->
            <h5 class="uk-margin-remove-bottom">Ingredients:</h5>
            <div class="uk-margin-remove-top">
                <p>{{recipe.ingredients}}</p>
            </div>
            <!-- Instructions -->
            <h5 class="uk-margin-remove-bottom">Instructions:</h5>
            <div class="uk-margin-remove-top">
                <p>{{recipe.instructions}}</p>
            </div>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body uk-padding-remove">
            <img src="{{recipe.imageUrl}}" height="" width="100%" />
        </div>
    </div>
</div>


<!-- Comments -->
<div class="uk-text-center uk-padding-large uk-padding-remove-bottom">
    <h3>What others have to say about this recipe...</h3>
</div>

<!-- Comments list -->
<div>
    {{> comments recipe.comments}}
</div>

<!-- Register to add comment -->
{{#if loggedIn}}
{{else}}
<div class="uk-text-center">
    <p>You must have an account with us to add a comment. <a href="/signup" uk-tooltip="Register for an account">I want to register.</a> <a href="/login" uk-tooltip="Login">I want to login.</a></p>
</div>
{{/if}}
<!-- Comment Form -->
{{#if loggedIn}}
<button href="#toggle-animation" class="uk-button uk-button-default" type="button"
    uk-toggle="target: #toggle-animation; animation: uk-animation-fade">Add comment</button>
<form class="uk-form-stacked uk-margin comment-form" id="toggle-animation" hidden>
    <div>
        <p class="uk-form-label">Write a comment:</p>
        <div class="uk-form-controls">
            <textarea name="comment-body" id="commentText" rows="5" class="uk-textarea uk-form-width-large" onkeyup="countChars(this);"></textarea>
            <p id="charNum">255 characters remaining</p>
        </div>
    </div>
    <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-primary">SUBMIT</button>
    </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}