<body>
    <div class="uk-card uk-card-default uk-card-large">
        <div class="uk-flex uk-flex-center">
            <div class="uk-align-right uk-card uk-card-default">
                <img
                    src="{{recipe.imageUrl}}" height="500px" width="500px"/>
            </div>

            <div class="uk-card uk-card-default">
                Recipe:
                <p class="uk-heading-small">{{recipe.title}}</p>
                Description:
                <p>{{recipe.description}}</p>
                Ingredients:
                <p>{{recipe.ingredients}}</p>
                Instructions:
                <p>{{recipe.instructions}}</p>
               <!-- <ul class="uk-list uk-list-decimal">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>consectetur adipiscing elit</li>
                    <li>sed do eiusmod tempor</li>
                    <li>ut labore et dolore</li>
                    <li>magna aliqua.</li>
                </ul> -->
            </div>
        </div>
    </div>
    <div  class="uk-align-center uk-flex uk-flex-center" >
        <button class="uk-button uk-button-default">Comment</button>
    </div>
</body>
